{% extends "base.html" %}
{% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li><a href="{{ SITEURL }}">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li class="current"><a href="{{ SITEURL }}/categories.html">Categories</a> </li>
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
        </ol>
      </div>
{% endblock navigation %}
{% block content %}
<ul>
{% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
{% endfor %}
</ul>
{% endblock %}
